html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	transition: opacity .2s;
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		-ms-transition: opacity .2s;
	&.is-loaded {
		opacity: 1;
	}
	&.file--is-loading {
		opacity: .5;
	}
}
.container {
	height: 100%;
	overflow: hidden;
}

.progress-container {
	top: 0;
	left: 0;
	height: 0;
	z-index: 100;
}
.progress-bar {
	width: 0;
	height: 0;
	background-color: color(theme);
	transition: height .3s, width .1s;
		-webkit-transition: height .3s, width .1s;
		-ms-transition: height .3s, width .1s;
	.file--is-loading & {
		height: 3px;
	}
}


.app-wrapper {
	transition: transform .3s ease-in-out;
		-webkit-transition: -webkit-transform .3s ease-in-out;
		-ms-transition: transform .3s ease-in-out;
	.menu--is-open & {
		transform: translateX(33.333333%);
			-webkit-transform: translateX(33.333333%);
			-ms-transform: translateX(33.333333%);
	}
}

// PANELS
.pane {
	background-color: color(g1);
	height: 100%;
	width: 66.666666%;
	top: 0;
	bottom: 0;

	.pane__content {
		cursor: pointer;
		opacity: .4;
	}
}
.pane__left {
	left: 0;
	right: 33.333333%;
	transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-webkit-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-moz-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-ms-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;

	&.is-active {
		background-color: color(w);
		transform: translateX(0);

		.pane__content {
			cursor: text;
			opacity: 1;
		}
	}
}
.pane__right {
	right: 0;
	left: 33.333333%;
	transform: translateX(50%);
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-ms-transform: translateX(50%);
	transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-webkit-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-moz-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
		-ms-transition: transform .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;

	&.is-active {
		background-color: color(w);
		transform: translateX(0);

		.pane__content {
			cursor: text;
			opacity: 1;
		}
	}
}
.pane__inner {
	bottom: 0; left: 0; right: 0; top: 0;
	overflow: auto;
	height: 100%;
}
.pane__scroll {
	height: 100%;
}
.pane__content {
	padding: s(xl);
	min-height: 100%;
}
textarea.pane__content {
	border: 0;
	border-radius: 0;
	resize: none;
	transition: color .3s ease-in-out;
		-webkit-transition: color .3s ease-in-out;
		-moz-transition: color .3s ease-in-out;
		-ms-transition: color .3s ease-in-out;
}

// STYLES
._code.rte {
	.hljs {
		background-color: transparent;
	}
	pre {
		background-color: color(g1);
	}
}

// APP BUTTONS
.app-buttons {
	left: 0;
	top: 0;
	right: 0;
	height: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .2s;
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		-ms-transition: opacity .2s;

	// PANEL is active
	.is-active & {
		opacity: 1;
	}
}
.app-button {
	border-radius: 1000px;
	height: 20px;
	width: 20px;
	margin: s(s) s(xs);
	text-align: center;
	&:hover i {
		color: color(theme);
	}

	i {
		font-size: 2rem;
		line-height: 20px;
		color: color(g2);
		transition: color .2s;
			-webkit-transition: color .2s;
			-moz-transition: color .2s;
			-ms-transition: color .2s;
	}
}

.new-file{
}
input.new-file__title {
	background-color: transparent;
	border-bottom: 2px solid white;
	padding: 1.66em 0;
}
textarea.new-file__tags {
	padding: 1em 0;
	resize: none;
}