html, body {
    font-size: 62.5%; // Set to 10px
    color: $c-2;
}

@mixin f-1 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}
@mixin f-2 {
    font-family: Consolas , Monaco, monospace;
}
.f-1 {
    @include f-1;
}
.f-2 {
    @include f-2;
}

@mixin h1 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 1.6rem;

    // Desktop sizes
    @media screen and (min-width: $sm) {
        font-size: 4.5rem;
        line-height: 4.7rem;
    }
}
@mixin h2 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.3rem;

    // Desktop sizes
    @media screen and (min-width: $sm) {
        font-size: 3rem;
        line-height: 4rem;
    }
}
@mixin h3 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;

    // Desktop sizes
    @media screen and (min-width: $sm) {
        font-size: 2.2rem;
        line-height: 3.3rem;
    }
}
@mixin h4 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 3rem;
}
@mixin h5 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
}
@mixin h6 {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 1.8rem;
}
@mixin p {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 2.6rem;
}

h1,
.h1 {
    @include h1;

    margin-bottom: 1.4rem;
}

h2,
.h2 {
    @include h2;

    margin-bottom: 1rem;
}

h3,
.h3 {
    @include h3;

    margin-bottom: 1rem;
}

h4,
.h4 {
    @include h4;

    margin-bottom: .618rem;
}

h5,
.h5 {
    @include h5;

    margin-bottom: .618rem;
}

h6,
.h6 {
    @include h6;

    margin-bottom: .618rem;
}

p,
.p {
    @include p;

    margin-bottom: .618rem;
}

strong {
    font-weight: 900;
}

h2, h3, h4, p {
    margin-bottom: 1.8rem;
}
a {
    color: $c-3;
    font-weight: 900;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
blockquote {
    border-left: 4px solid $c-1;
    margin: 4rem 0;
    padding: 0 0 0 1rem;

    @media screen and (min-width: $med) {
        padding: 0 0 0 3rem;
    }

    h1, h2, h3, h4 {
        max-width: 100%;
    }
}
ul, ol {
    margin: 0 0 1.6rem;
    padding: 0 0 0 3rem;
}
li {
    @include p;
}
pre {
    @include p;

    border-left: 4px solid $c-1d;
    background-color: rgba($c-1l, .6);
    font-family: Consolas , Monaco, monospace;
    overflow: auto;
    overflow-y: hidden;
    padding: 2rem 0 2rem 3rem;
}
code {
    background-color: rgba($c-1l, .6);
    font-family: Consolas , Monaco, monospace;
}
figure {
    @include blockRel;

    margin: 3rem 0 3rem;
    max-width: 100%;

    @media screen and (min-width: $med){
        margin: 4rem 0 5rem;
    }

    img {
        @include blockRel; 

        max-width: 100%;
        height: auto !important;
        width: 100%;
    }

    figcaption {
        @include h5;

        border-bottom: 2px solid $c-g1;
        color: rgba($c-2, .6);
        max-width: 500px;
        padding: .5rem 0 1rem;
    }
}
hr {
    @include blockRel;

    background-color: $c-g1;
    border: 0;
    height: 2px;
    width: 100px;
    margin: 1rem 0 4rem;
}