button {
	@include inlineRel;

	padding: 1rem 2rem;
	transition: background .1s;
		-webkit-transition: background .1s;
		-moz-transition: background .1s;
		-ms-transition: background .1s;

	&:hover {
		background-color: rgba($c-b, .8);
	}
}