.container {
    @include blockRel;

    overflow-x: hidden;
}

/* Use a row to specify width and .inline or .float options
 * to set up a wrapper for grids.
 */
.row {
    @include blockRel;

    margin: 0 auto;
    width: 100%;
    z-index: 1;

    &::before,
    &::after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &::after {
      clear: both;
    }

    &.row--sm {
        max-width: 750px;
        width: 90%;

        @media screen and (min-width: $med) {
            width: 80%;
        }
        @media screen and (min-width: $lg) {
            width: 60%;
        }
    }

    &.row--med {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 80%;
        }
        @media screen and (min-width: $med) {
            width: 70%;
        }
    }

    &.row--lg {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 92.5%;
        }
        @media screen and (min-width: $med) {
            width: 95%;
        }
    }

    &.inline {
        text-align: justify;

        &::before {
            display: none;
        }

        &::after {
            @include inlineRel;

            content: '';
            width: 100%;
        }

        &.center {
            text-align: center;
        }

        .block {
            @include inlineRel;

            float: none;
            vertical-align: top;
        }
    }
}

// Grid block identifying class
.col {
    @include blockRel;

    float: left;
    margin: auto;
    text-align: left;
}