.p-lg {
    padding: 6rem;
}
.p-med {
    padding: 4rem;
}
.p-sm {
    padding: 2rem;
}

// Horizontal 
.ph-lg {
    padding-left: 6rem;
    padding-right: 6rem;
}
.ph-med {
    padding-left: 4rem;
    padding-right: 4rem;  
}
.ph-sm {
    padding-left: 2rem;
    padding-right: 2rem;
}

// Horizontal 
.pv-lg {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.pv-med {
    padding-top: 4rem;
    padding-bottom: 4rem;   
}
.pv-sm {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

// Top
.pt-lg {
    padding-top: 6rem;
}
.pt-med {
    padding-top: 4rem;   
}
.pt-sm {
    padding-top: 2rem;
}

// Bottom
.pb-lg {
    padding-bottom: 6rem;
}
.pb-med {
    padding-bottom: 4rem;   
}
.pb-sm {
    padding-bottom: 2rem;
}